{% extends 'base.html.twig' %}

{% block title %}
	BLOG / INDEX
{% endblock %}

{% block body %}
	{% for id, post in posts %}

		<p>{{ id }}</p>
		<h3>{{ post.title }}</h3>
		<p>{{ post.text }}</p>

	{% endfor %}
{% endblock %}
