{% extends 'base.html.twig' %}

{% block title %}
	BLOG / POST
{% endblock %}

{% block body %}
	<p>{{ id }}</p>
	<h3>{{ post.title }}</h3>
	<p>{{ post.text }}</p>
	<p>{{ post.date | date('Y-m-d H:i:s') }}</p>
	<p>{{ 1234 | price }}</p>
{% endblock %}
