# Dependencies
/node_modules

###> symfony/framework-bundle ###
# /.env.local
# /.env.local.php
# /.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

# ---

# Compiled output
/build
/dist
/documentation
/out-tsc
/tmp

# Composer
vendor
composer.lock

# Dependencies
/node_modules
package-lock.json
/.pnp
.pnp.js

# ENV
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs + Editors
*.launch
*.sublime-workspace
/.idea
.c9
.classpath
.history
.project
.settings

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
npm-debug.log
php_errorlog
testem.log
yarn-error.log

# System files
*/*.lnk
*desktop.ini
.DS_Store
Thumbs.db
