<div class="media text-muted pt-3">
	<img data-src="holder.js/32x32?bg=e83e8c&fg=fff&size=8" alt="" class="mr-2 rounded"/>
	<span class="d-block">
		<strong class="text-gray-dark">@username</strong>
		{{ post.time | date('Y-m-d H:i:s') }}
		<p>{{ post.title | upper }}</p>
	</span>
</div>
